body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    background-color: #164863;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.back-button {
    border: none; border-radius: 5px; cursor: pointer; padding: 10px 20px; margin-left: 10px; 
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
    margin-right: 150px; 
}

.logo {
    width: 150px;
    margin-right: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}


main {
    width: 90%;
    max-width: 1200px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}
    
.button {
    background-color: #164863;
    color: white;
    padding: 10px 20px; border: none; border-radius: 5px;cursor: pointer; font-size: 1em; transition: background-color 0.3s; margin-top: 20px;
}

.button:hover {
    background-color: #45a049;
}
.back-button:hover {
    opacity: 0.7;
}

h2 {
    margin-top: 40px;
    font-size: 2em;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 5px;  /* Bordes redondeados para la tabla */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #164863;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #dddddd; 
}

